body {
    margin: 0;

    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #262A2C;
    line-height: 30px;

    background-color: #F1EBE4;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1312px;
    margin: 0 auto;
}

/* HEADER */